.trigger {
  bottom: 12px;
  background-color: #fff !important;
  border-radius: 4px;

  span {
    color: var(--dark);
  }
}

.sidebar {
  background-color: #fff !important;
  background: #fff;
  border-radius: 4px;
  height: 100%;
  .logo {
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 32.5%;
      min-height: 65px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &.logoCollapsed {
      color: red($color: #000000);
      overflow: hidden;
      img {
        transform: scale(0.8);
        height: 52px;
      }
    }
  }
}
