@import '../../assets/css/custom';
.adminLayout {
  gap: 12px;
  padding: 12px;
  min-height: 100vh;
  overflow: hidden;

  :global {
    .ant-card-head {
      position: sticky;
      top: 0;
      z-index: 1;
      background: #fff;
      .ant-card-extra {
        padding: 0;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

.adminSiteLayout {
  display: grid;
  grid-template-rows: calc(100vh - 74px) 50px;
  .adminMainContent {
    // > div {
    > div {
      display: grid;
      grid-template-rows: 72px calc(100vh - 136px);

      @media (max-width: 767px) {
        grid-template-rows: 72px calc(100vh - 112px);
      }
      // :nth-child(2) {
      //   @include scroll(6px, 6px, transparent);
      //   overflow: overlay;
      // }
      // }
    }
  }
}

.mainLayout {
  gap: 12px;
  padding: 12px;
  height: calc(100vh - 40px);
  overflow-x: hidden;
  @media (max-width: 767px) {
    padding: 0;
  }
}

.siteLayout {
  width: calc(100vw - 236px);
  height: calc(100vh - 64px);
  @media (max-width: 767px) {
    height: calc(100vh);
  }
  .mainContent {
    position: relative;
    display: grid;
    row-gap: 6px;
    grid-template-rows: 62px 1fr;
    > :nth-child(2) {
      > div {
        @include scroll(6px, 6px, transparent);
      }
    }
  }
}

.collapsed {
  width: calc(100vw - 86px);
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  .footerRight {
    display: flex;
    font-size: 24px !important;
  }
}
