.inline {
  overflow: hidden;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
  text-shadow: none;

  text-overflow: ellipsis;
  white-space: nowrap;
}


.pagination {
  display: flex;
  // padding: 8px 0;
  justify-content: flex-start;
  align-items: center;
}

.tableWrapper {
  overflow: overlay !important;
  background-color: #fff;

  table {
    background-color: #fff;
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}


.contentWrapper {
  display: grid;
  grid-template-rows: 1fr 50px;
}