@import "./../../assets/css/custom";
.active {
  color: var(--light);
}
.editor {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  .editorContent {
    height: 100%;
    min-height: 200px;
    padding: 12px 0;
    overflow: hidden;
    div {
      height: 100%;
      padding: 8px;
      border: 1px solid #d9d9d9;
      background-color: #fff;
      transition: all 0.2s ease-out;
      border-radius: 4px;
      overflow-y: scroll;
      @include scroll(6px, 6px, transparent);
      &:focus {
        border: 1px solid var(--light) !important;
        outline: none;
      }
    }
  }
  .heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 4px;
    border:1px solid #d9d9d9;
    // gap: 8px;
    button {
      width: 60px;
      border: none;
      padding: 12px 8px;
      text-transform: capitalize;
      box-shadow: none;
      border-radius: 0;
      position: relative;
      background: none;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      align-items: center;
      justify-content: center;
      display: flex;
      &:hover {
        @extend .active;
      }
    }
    button:not(:last-child) {
      &:after {
        // positon:relative;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: #d9d9d9;
      }
    }
  }
}

.disabled {
  color: rgba(#333333, 0.5);
  pointer-events: none;
}