.card {
  box-shadow: var(--main-box-shadow);
  //   .text {
  //     margin: 4px 0;
  //   }
  // :global {
  //   .ant-input-password {
  //     height: 32px;
  //   }
  // }
}

.otp {
  // border:none !important;
  background: transparent;
  z-index: 1;
  border: 1px solid transparent !important;
  // letter-spacing: 65px;
}
.fakeInp {
  height: 32px;
  width: 32px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 0;
  top: 0;

  &:nth-child(1) {
    left: 0;
  }
  &:nth-child(2) {
    left: 25%;
  }
  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: 75%;
  }
}
