.listStep {
  $offset: var(--offset);
  display: grid;
  grid-template-columns: repeat($offset, 1fr);
  grid-template-rows: 1fr;
  gap: 12px;
  padding: 8px 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    // width: 20px;
    width: 10px;
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: red;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
  .stepItem {
    padding: 5px;
    position: relative;

    .stepContent {
      // grid-column: 1/2;
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;
      cursor: pointer;
      gap: 12px;
      min-width: 200px;
      .content {
        padding: 4px;
        display: grid;
        grid-template-rows: repeat(2, auto);
        align-items: baseline;
        white-space: nowrap;

        .title {
          grid-row: 1/2;
          font-size: 14px;
          color: var(--text3);
        }
        .desc {
          grid-row: 2/3;
          font-size: 12px;
          color: var(--text2);
        }
      }
    }
    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        height: 8px;
        width: 8px;
        border-top: 1px solid var(--text2);
        border-right: 1px solid var(--text2);
        transform: rotate(45deg) translateY(-50%);
      }
    }
  }
}
.sticky {
  position: sticky !important;
  left: -1px;
  right: -1px;
  background-image: linear-gradient(135deg, var(--light), var(--dark));
  z-index: 1;
  border-radius: 8px;
  &:not(:last-child) {
    &:after {
      border-color: var(--dark) !important;
      // background-color: #eee;
      background-color: var(--dark);
    }
  }
  .title,
  .desc {
    color: #fff !important;
  }
}

.cardHeader {
  position: sticky !important;
  z-index: 1;
  top: 65px;
  width: calc(100vw - 236px);
}

.collapsed {
  width: calc(100vw - 86px);
}
