@mixin scroll($height: 10px, $width: 10px, $bg) {
  &::-webkit-scrollbar {
    width: $height;
    height: $width;
    cursor: pointer;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @if $bg {
      background: $bg;
    } @else {
      background: rgba(0, 0, 0, 0.09);
    }
    cursor: pointer;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    cursor: pointer;
  }
}

.ant-table-scroll-horizontal {
  .ant-table-container {
    .ant-table-content {
      @include scroll(6px, 6px, transparent);
    }
  }
}

.ant-layout-footer {
  padding: 8px 50px;
}

div.ant-form-item-control-input-content {
  // height: 32px;
  input[type='color'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  select:focus,
  .ant-picker,
  .ant-select-selector,
  textarea {
    // height: 32px;
    font-size: 16px;
  }
}

.ant-form-item {
  margin: 0 0 6px;
}
input[type='text'] {
  height: 32px;
}
.ant-row {
  width: 100%;
}

/// Side bar
$color: var(--text4);
$bg: #fff;

.site-layout-background {
  height: calc(100vh - 74px);
}

.spin-suspense {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: calc(100% - 200px);
}

.inline {
  overflow: hidden;
  white-space: normal;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
  text-shadow: none;
  text-transform: capitalize;
}
.cc-scroll {
  overflow: overlay;
  @include scroll(6px, 6px, transparent);
}

.cc-card {
  display: grid;
  overflow: overlay;
  @include scroll(6px, 6px, transparent);
}
