:root {
  --primary: #ff6962;
  --second: #ff8989;
  --third: #ffb3a5;
  --four: #7abb91;
  --five: #5fa777;

  --text1: #fff;
  --text2: #333;
  --text3: #000;
  --text4: rgb(111, 58, 58);
  --main-transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out;
  --main-box-shadow: rgba(0 0 0 / 7%) 0 2px 40px 0;
  --main-box-shadow-hover: rgb(45 45 45 / 5%) 0 2px 2px, rgba(49 49 49 / 5%) 0 4px 4px, rgba(42 42 42 / 5%) 0 8px 8px,
    rgba(32 32 32 / 5%) 0 16px 16px, rgba(49 49 49 / 5%) 0 32px 32px, rgba(35 35 35 / 5%) 0 64px 64px;
  --light: #cd2027;
  --dark: #791314;
}
p,
a {
  font-size: 16px;
}

@media (min-width: 1366px) {
  h1 {
    // font-size: 47.52px;
    font-size: 2.2rem;
  }
  h2 {
    // font-size: 42px;
    font-size: 2rem;
  }
  h3 {
    // font-size: 36px;
    font-size: 1.7rem;
  }
  h4 {
    // font-size: 30px;
    font-size: 1.5rem;
  }
  .h {
    // font-size: 23.76px;
    font-size: 1.4rem;
    div {
      font-size: 23.76px;
    }
  }
}
@media (max-width: 1366px) {
  .h {
    // font-size: 20px;
    font-size: 1.2rem;
    div {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 990px) {
  .h {
    // font-size: 18px;
    font-size: 1.1rem;
    div {
      font-size: 1.1rem;
    }
  }
  h1 {
    // font-size: 36px !important;
    font-size: 2rem !important;
  }
  h2 {
    // font-size: 32px;
    font-size: 1.8rem;
  }
  h3 {
    // font-size: 28px;
    font-size: 1.6rem;
  }
  h4 {
    // font-size: 24px;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .h {
    font-size: 1rem;
    div {
      font-size: 1rem;
    }
  }
  h1 {
    // font-size: 30px !important;
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}
