.registerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  h1 {
    font-size: 32px;
    color: #333;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 100px;
      height: 2px;
      background-color: var(--light);
      transform: translate(calc(100% + 10px), 50%);
    }
  }
  form {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 15px 40px -20px #ccc;
    max-width: 350px;
    min-width: 300px;
    width: calc(100% - 20px);
  }
}
