.inpSearch {
  display: flex;
  input {
    height: unset !important;
  }
}

.tableWrapper {
  height: 100%;
  background-color: #fff;
  grid-template-rows: 1fr 120px;
  overflow: overlay !important;
  table {
    background-color: #fff;
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}
