@import '@/assets/css/custom';
.searchForm {
  display: grid;
  grid-template-columns: repeat(3, auto);
  // gap: 4px;
  align-items: center;
  :global {
    .ant-row.ant-form-item {
      margin: 0;
    }
  }
}

.inline {
  @extend .inline;
  display: table-cell;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: unset;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inpSearch {
  input {
    height: unset;
  }
}

.tableWrapper {
  overflow: overlay !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: -12px;
  padding: 12px;
  table {
    background-color: #fff;
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
  .filter {
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    form {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: space-between;
      :global(.ant-form-item) {
        width: calc(25% - 12px);
      }
      :global(button) {
        flex: 0;
        margin-left: auto;
      }
      @media (max-width: 767px) {
        :global(.ant-form-item) {
          width: calc(50% - 12px);
        }
      }
      @media (max-width: 550px) {
        :global(.ant-form-item) {
          width: calc(100%);
        }
      }
    }
  }
}

.pagination {
  display: flex;
  // padding: 8px 0;
  justify-content: flex-start;
  align-items: center;
}

.contentWrapper {
  display: grid;
  // grid-template-rows: ;
  grid-template-rows: 1fr 50px;
}
