@import '@/assets/css/custom';
.searchForm {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
  align-items: center;
  :global {
    .ant-row.ant-form-item {
      margin: 0;
    }
  }
}

.inline {
  @extend .inline;
  text-overflow: ellipsis;
  white-space: nowrap;
}
