.current {
  display: none !important;
}
.active {
  display: block !important;
}

.groupInput {
  :global {
    .ant-form-item-control-input-content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 12px;
      width: 100%;
    }
  }
}
.flexStyles {
  display: flex;
  justify-content: center;
}
