.pages {
  .page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    padding: 60px 40px;
    .content {
      overflow-y: hidden;
      height: 100%;
    }

  }
  .size__A4 {
    width: 21cm;
    height: 29.7cm;
  }
}
