.inpSearch {
  display: flex;
  input {
    height: unset !important;
  }
}

.tableWrapper {
  display: flex;
  width: 100%;
  overflow: overlay;
  flex-direction: column;
  > div {
    width: 100%;
  }
}

// .tableWrapper {
//   background-color: #fff;
//   overflow: overlay;
//   table {
//     background-color: #fff;
//     thead {
//       position: sticky;
//       top: 0;
//       z-index: 1;
//     }
//   }
// }

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}
