.inpSearch {
  display: flex;
  input {
    height: unset !important;
  }
}

.tableWrapper {
  display: flex;
  width: 100%;
  overflow: overlay;
  background-color: #fff;
  > div {
    width: 100%;
  }
  table {
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
}
