.trigger {
  bottom: 12px;
  background-color: #fff !important;
  border-radius: 4px;

  span {
    color: var(--dark);
  }
}

.sidebar {
  background-color: #fff !important;
  background: #fff;
  border-radius: 4px;
}
