.inline {
  overflow: hidden;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
  text-shadow: none;
  text-transform: capitalize;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 8px 0;
  border-top: 1px solid #eee;
}
