.extraAction {
  button {
    float: left;
    margin: 0 4px 0 0;
    background: #fff;
    display: flex;
    align-items: center;
  }
}

.tabContent {
  display: flex;
  overflow: hidden;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.tabsPanel {
  :global {
    .ant-tabs-tabpane-active {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 100%;
    }
  }
}
