.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
  height: 0;
  margin: 0 !important;
}
.visible {
  opacity: 1;
  visibility: visible;
  display: flex;
  height: auto;
  animation-delay: 0.2s;
  flex-direction: row;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}